$icon-font-path: '../fonts/';

@import "variables";

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/sass-flex-mixin/flex.scss";
// endbower

@import "jumbotron";
@import "type";
@import "mixins";
@import "buttons";

/* FX */

a, a[class^="btn-"], .slots > .row > div[class*="slot-"], .comeToFocus, .glyphicon, .fs-disciplines-list li img{
  @include transition(all 0.2s ease-out);
}

.comeToFocus:hover {
  background-color: rgba(0,0,0,.4);
}

.collapsing-delay {
  @include transition-delay(2s);
}

.animation-delay {
  @include transition-delay(2s);
}



.btn-default:hover,
.btn-default:focus {
  background-color: rgba(255,255,255, 1);
  color: #000;
}

.btn-transparent, .btn-transparent:hover, .btn-transparent:focus {
  background: transparent;
  outline: none !important;
  box-shadow: none;
  border: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {;
}

/* Custom default button */


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #000;
}
body {
  text-align: center;
  font-weight: 200;
}

h1,h2,h3,h4,h5,h6 {
  color: #f2f2f2;
}

.flexbox .site-wrapper, .flexbox .site-wrapper-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */



/*
 * Header
 */



/*
 * Cover
 */



/*
 * Footer
 */

.mastfoot {

  // color: rgba(255,255,255,.8);
  @include animation-delay(1.5s);
  @include animation-duration(.5s);
  width: 100%;
  margin-top: $grid-gutter-width;
  padding: $font-size-base;
  display: block;
  position: relative;
  margin-top: 0;
  background-color: #000;
}

/*
 * Sections
 */

section {
  padding: 30px 0;
}

.section-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

#about {
  background: url("../images/about-me-bg.jpg");
  background-size: cover;
  background-position: center;
}

#disciplines {
  background:

   url("../images/cement-break-bg.jpg") center center;                      /* On bottom, like z-index: 1; */
  background-size: cover;

  h2 {
    color: $gray-dark;
  }
}

.fs-disciplines-list {
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  li {
    float: left;
    padding: $font-size-base;
    width: 25%;
    height: 120px;
  }
  li img {
    @include fs-filter-grayscale(100%);
    &:hover {
      @include fs-filter-grayscale(0);
    }
  }
}



.sub-text {
  letter-spacing: .3em;
  color: $gray-light;
  position: relative;
  display: inline-block;
  font-size: floor((100% * $font-size-small / $font-size-base));
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}
.jumbotron .sub-text {
  color: $fs-color-yellow;
  font-size: 100%;
}

.btn-icon .glyphicon {
  color: $fs-color-yellow;
  font-size: 300%;
  &:hover {
    color: $fs-color-cyan;
  }
}


.btn-icon-wrapper {
  background-color: rgba($gray-base, .2);

  padding: $font-size-base*2;
  &:hover {

  }
}

#about .sub-text {
  color: rgba($fs-color-cyan, .5);
}


.fs-logo {
  width: auto;
}



.test {
  border: 5px solid red;
  color: red;
  background-color: yellow;
}

.center-fix {
  margin: 0 auto;

}
.experience-logos {
  opacity: .9;
}



/*
 * Media Queries
 */

 @media (min-width: $screen-xs) {
   .fs-disciplines-list li {
     width: 20%;
     padding: $font-size-base;
   }
 };

@media (min-width: $screen-sm) {

  .site-wrapper {
    padding-bottom: 80px;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, .3);
  }
  .flexgrid, .flexgrid > .container-fluid > .row {
    display: flex;
  }

  .flexgrid .container-fluid .row {
    flex-direction: row;
    align-items: center;
  }



  .section-content.location {
    align-self: baseline;
  }

  .no-top-mrg {
    margin-top: 0;
  }

  .slot-location, .slot-status, .slot-hiring  {
    height: 18vh;
  }

.slot-location p, .slot-status p {
  padding-top: 6vh;
}

.slot-hiring p {
  padding-top: 5vh;
}
  .slots {
    align-self: stretch;
  }

  .btn.btn-icon .glyphicon {
    font-size: 500%;
  }

  .fs-disciplines-list li {
    width: 16%;
  }

}


@media (min-width: $screen-md) {

  .fs-disciplines-list li {
    width: 10%;
  }

}

/* Slots */

.slots > .row > div[class*="slot-"]:hover {
  background-color: $gray-darker;
  cursor: pointer;
}

.slot-location, .slot-status, .slot-hiring  {
  height: 18vh;
}

.slot-location p, .slot-status p {
  padding-top: 6vh;
}
.slot-hiring p {
  padding-top: 5vh;
}

.slot-location {
}

/* Misc */
